@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #68788C;
}

/* headings and logo */

header {
    width: 100%;
    margin: 0 10px 0 10px;
}
h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#logo {
    float: left;
    text-align: center;
    font-size: 180%;
    background-color: #F2EEB3;
    width: 33%;
    color: #68788C;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;  
    text-transform: lowercase;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    text-transform: uppercase;
}

.active {
    text-transform: uppercase;
}

/* portrait picture */

#portrait-pic {
    background: url("../images/rsz_portrait.png") no-repeat center center;
    width: 33%;
    height: 600px;
}