@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #68788C;
    height: 100vh;
}

.text-center {
  text-align: center;
}

/* headings and logo */

header, nav {
  width: 100%;
  height: 10%;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#logo {
    float: left;
    text-align: center;
    font-size: 180%;
    background-color: #F2EEB3;
    width: 33.33%;
    color: #68788C;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;  
    margin-right: 30px;
    text-transform: lowercase;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    text-transform: uppercase;
}

.two-thirds-width {
    width: 66.66%;
}

.active {
    text-transform: uppercase;
}

/* portrait picture */

#portrait-pic {
    background: url("../images/rsz_2portrait.png") no-repeat center center;
    height: 100vh;
    position: absolute;
    left: 0;
    width: 33.33%;
    background-color: #F2EEB3;
}

.one-third-width-column {
    width: 33.33%;
    float: left;
}

/* tab area */

.two-thirds-width-column {
    width: 66.66%;
    height: 100vh;
    background-color: #F2EEB3;
    float: right;
}

/* tabs */

.tabs {
    font-weight: bold;
    position: relative;
    margin: 20px 20px 0 20px;
    height: 400px;
  }

  label, #slider {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    background: #F2D64B;
    user-select: none;
    width: 32.5%;
    height: auto;
    padding: 20px 30px;    
  }

  label:hover {
    color: white;
  }

  .content {
    position: absolute;
    font-weight: normal;
    top: 42px; right: 0; bottom: 0; left: 0;
    background: white;
    display: none;
    min-height: 300px;
    box-shadow: 2px 2px 8px rgba(151, 157, 166, 0.5);
    margin-top: 35px;
    padding: 20px;
    overflow-y: auto;
    height: 100%;
  }

  #slider {
    background-color: transparent;
    position: relative;
    display: block;
    border-top: 3px solid white;
    margin: 7px 10px;
    transition: transform 0.5s;
    width: 30%;
  }

/* Thumbnail pictures in about me section */

#about-me-pictures {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px; 
  width: 150px;
}

#about-me-pictures:hover {
  border: 1px solid #68788C;
}

  /* functions for tabs and slider */

  [type=radio],#r1:checked ~ #slider {
    transform: translate(0px, 0px);
  }
   
  [type=radio],#r2:checked ~ #slider {
    transform: translate(110%, 0px);
  }
   
  [type=radio],#r3:checked ~ #slider {
    transform: translate(220%, 0px);
  }
   
  [type=radio]:checked + label {
    color: white;
  }
   
  [type=radio]:checked + label + .content {
    display: inline-block;
  }

  .tabs [type=radio] {
    display: none;   
  }

  /* footer */

  footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: auto;
    background-color: #68788C;
    color: #F2EEB3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .socials {
    list-style-type: none;
    text-decoration: none;
    display: flex;
  }

  .socials a {
    padding: 5px;
    font-size: 2rem;
    color: #F2EEB3;
    margin: 0 20px;
  }

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
  #menu {
    clear: both;
    display: block;
  }

  #portrait-pic {
    top: 150px;
  }

  #logo {
    width: 100%;
  }
}

/* For smaller screen sizes from 600px wide and down */
@media screen and (max-width: 600px) {


  #portrait-pic {
    display: none;
  }


  .two-thirds-width-column {
    width: 100%;
  }
}